{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|首页
{% endblock %}
{% block header_extens %}
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <h1 class="home-content ">欢迎访问我的网站，随便看看</h1>{# 可以直接style设置#}
</div>

{% comment %}
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <div class="hot-data">
        <!-- 今天24小时内的热门文章 -->
        <h1 class="hot_data">今天热门点击</h1>
        <ul>
            {% for hot_data in today_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
            {% empty %}
                <li>今天暂时没有热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <!-- 昨天的热门文章 -->
        <h3>昨天热门点击</h3>
        <ul>
            {% for hot_data in yesterday_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
            {% empty %}
                <li>昨天暂时没有热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>7天内热门点击</h3>
        <ul>
            {% for hot_data in hot_blogs_for_7_days %}
                <li><a href="{% url 'blog_detail' hot_data.id %}">{{ hot_data.title }}</a>({{ hot_data.read_num_sum }})</li>
            {% empty %}
                <li>7天内暂时没有热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                title: { text: '前7日阅读量变化' },  // 字段放置的位置有很大关系
                tickmarkPlacement: 'on',
                categories: [1,2,3,4,5]{# dates|safe #}   // x 轴分类
            },
            yAxis: {
                title: {text: null},
                labels:{ enabled:false },
                gridLineDashStyle:'DASH'
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: [0,0,0,0,0]                   // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled:false },
            credits: {enabled:false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endcomment %}
{% endblock%}

{% block script_extends %}
{% endblock %}